{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="card" style="width: 80rem">
            <h5 class="card-header">Users</h5>
            <div class="card-body">
                <h5 class="card-title">List of users.</h5>
                <p class="card-text">On that page you can create new or update user.</p>
                <a href="{{ path('admin_user_create') }}" class="btn btn-primary">Create new User</a>
                <br><br>

                {% if users|length > 0 %}
                <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Организация</th>
                    <th scope="col">Роль в организации</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.provider %}
                                {{ user.provider.name }}
                            {% endif %}
                        </td>
                        <td>
                            <ul>
                            {% if 'ROLE_ADMIN' in user.roles %}
                                <li>Администратор системы</li>
                            {% endif %}
                            {% if 'ROLE_USER' in user.roles %}
                                <li>Пользователь организации</li>
                            {% endif %}
                            </ul>
                        </td>
                        <td>
                            <a href="{{ path('admin_user_edit', {'idUser':user.id}) }}">Редактировать</a><br>
                            <a href="{{ path('admin_user_remove', {'idUser':user.id}) }}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                {% else %}
                    <b>No Users</b>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
