{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="card" style="width: 80rem">
            <h5 class="card-header">Участники организации</h5>
            <div class="card-body">
                <h5 class="card-title">Список всех участников организации</h5>
                <a href="{{ path('participant_create') }}" class="btn btn-primary">Добавить участника</a><br><br>
                {% if participants|length > 0 %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Идентификатор</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Дата рождения</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for part in participants %}
                            <tr>
                                <td>{{ part.id }}</td>
                                <td>{{ part.firstName }}</td>
                                <td>{{ part.lastName }}</td>
                                <td>
                                    {% if part.dob %}
                                        {{ part.dob.format('d.m.Y') }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('participant_edit', {id:part.id}) }}">Редактировать</a><br>
                                    <a href="{{ path('participant_referrals', {id:part.id}) }}">Заявки</a><br>
                                    <a href="{{ path('participant_remove', {idParticipant:part.id}) }}">Удалить</a><br>
                                    <a href="{{ path('participant_details', {id:part.id}) }}">Детали</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    Участников у организации нет. Добавьте участников.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
