{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="card" style="width: 80rem">
            <h5 class="card-header">Управление новостями организации</h5>
            <div class="card-body">
                <h5 class="card-title">Список всех новостей</h5>
                <a href="{{ path('news_create') }}" class="btn btn-primary">Добавить новость</a><br><br>
                {% if newsList|length > 0 %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Заголовок </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for news in newsList %}
                            <tr>
                                <td>{{ news.dateCreatedAt.format('d.m.Y H:i:s') }}</td>
                                <td>{{ news.title }}</td>
                                <td>
                                    <a href="{{ path('news_edit', {id:news.id}) }}">Редактировать</a><br>
                                    <a href="{{ path('news_remove', {id:news.id}) }}">Удалить</a><br>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    Новостей нет. Создайте новость.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
